@model IEnumerable<StatsProject.Models.Participant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.FirstName)*@
            @*Beginning to future proof for name link in the future*@
            First Name
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.LastName)*@
            @*Beginning to future proof for name link in the future*@
            Last Name
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.MembershipDate)*@
            @*Beginning to future proof for membership date link in the future*@
            Membership Date
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Gender)*@
            @*Beginning to future proof for gender link in the future*@
            Gender
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.NumberOfWins)*@
            @*Beginning to future proof for wins link in the future*@
            Number Of Wins
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.NumberOfLosses)*@
            @*Beginning to future proof for losses link in the future*@
            Number Of Losses
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MembershipDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfWins)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfLosses)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
